arch-forest/*/*
!arch-forest/*/trainForest.py
!arch-forest/*/init.sh
!**.train
!**.test
'DSF Random Forest'/**
DSF Random Forest/**
FeatureGenerators/__pycache__
.ipynb_checkpoints/
forests
!forests/rootedFrequentTrees/adult/Results_NoLeafEdgesWithSplitValues/**
.ipynb_checkpoints
Classification.ipynb
DSF_RF.ipynb
InferenceComparison.ipynb
LearningAlgo.ipynb
PruningComparison.ipynb
Size_Comparison.ipynb
0\ Pruning\ Distinct\ Branching\ Conditions.ipynb
2\ Initial\ Rooted\ Frequent\ Subtree\ Mining\ --\ With\ Split\ Values\ --\ without\ leaves\ --\ after\ pruning.ipynb
3\ Compute\ and\ Store\ all\ Embeddings\ of\ the\ Frequent\ Rooted\ Subtrees\ up\ to\ Size\ 6.ipynb
